*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
/*header*/
.container{
    width: 100vw;
    height: 81px;
    display: block;
}

.li-container{
    width: 54.5%;
    height: 4.1%;
    margin: auto;
}

.menu-container{
    height: 80px;
    display: flex;
    align-items: center;
}
.logo{
    float: left;
    position: relative;
}

.menu{
    margin: 0 10px;
    width: 100px;
    height: 46px;
    text-align: center; 
    float: right;
    position: relative;
}

.menu a{
    display: block;
    font-size: 14px;
}





